# --- OS & System Files ---
.DS_Store
Thumbs.db
*.swp
*~

# --- IDE & Editors ---
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# --- Java (Maven/Gradle) ---
target/
build/
*.class
*.jar
*.war

# --- Go ---
# Binaries
*.exe
*.test
*.out
vendor/

# --- C / C++ ---
*.o
*.obj
# Common default output name for C compilers
a.out

# --- Docker ---
# If you ever mount a local data volume, you might want to ignore that specific folder here
# e.g., /data/


tmp


# Created by .ignore support plugin (hsz.mobi)
### Go template
# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test


